<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading"> <h2>Sumu Games</h2> </div>
		<div class="panel-body">
			<div class="col-sm-24 col-md-12">
				<p class="text-center">
				A game development team formed during a game development training course. Our goal is to try and bring some transparency into game development. We write a developers blog about our projects and bring our raw prototypes into the open.

				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading"> <h2>The Team</h2> </div>
		<div class="panel-body">
			<div class="col-sm-6 col-md-3">
				<img src="public/images/pekka_kuva.JPG" height="100" width="100"/>
				<p class="text-center">Pekka <br>
				Team resident do-it-all wizard. Mainly works as a programmer, producer and project manager. GG.
				Specializes in javascript, but codes C# for this game in unity. Javascript skills come in handy when he works on the websites frontend and backend. Tries to increase his programming, team management, project management, marketing and social media skills.
				</p>
				
			</div>
	
	
			<div class="col-sm-6 col-md-3">
				
				<p class="text-center"> Juho <br>
				Visionary of the game and the lead programmer. The master of all code \o.
				</p>
				
			</div>
			<div class="col-sm-6 col-md-3">
				
				<p class="text-center"> Niina <br>
				Lead writer of the team, also works on the marketing and social media side of the project. The brilliance behind the story.
				</p>
				
			</div>
			<div class="col-sm-6 col-md-3">
				
				<p class="text-center"> Petri <br>
				Lead graphic designer. You want art? You can't handle the art Petri makes. So epic sprites and animations. 
				</p>
				
			</div>
		</div>
	</div>
</div>