<div class="row">
	<div class="col-xs-18">
		<div class="panel-heading"> <h2 class="text-center">Sumu Games</h2> </div>
		<div class="media">
			<div class="media-body">
			<br>
				An independent game development team formed during a game development training course. Our goal is to try and bring some transparency into game development. We write a developers blog about our projects and bring our raw prototypes into the open. Based currently in Jyväskylä Finland. You can reach us through various social media channels.
			<br>
			<br>
			</div>
		</div>
	</div>
</div>

<div class="row">
<div class="panel-heading"> <h2 class="text-center">The Team</h2> </div>
	<div class="col-xs-18 col-lg-4">
		<div class="media">
			<div class="media-body">
				<!--<div class="media-left">-->
				<a href="http://www.twitter.com/n1ghtpanda">
				<img src="public/images/team/pekka_kuva.JPG" height="100" width="100" class="img-responsive">
				<h4 class="text-left">Pekka</h4>
				</a>
			<!--</div>-->
			<!--<div class="media-body">-->
					Team resident do-it-all wizard. Mainly works as a programmer, producer and project manager. GG.
					Specializes in javascript but codes C# for this game in unity. Javascript skills come in handy when he works on the websites frontend and backend. Tries to increase his programming, team management, project management, marketing and social media skills.
			</div>
		</div>
	</div>
	<div class="col-xs-18 col-lg-4">
		<div class="media">
			<div class="media-body">
			<!--<div class="media-left">-->
				<a href="http://www.sumugames.com">
				<img src="public/images/team/juho_kuva.JPG" height="100" width="100" class="img-responsive">
				<h4 class="text-left">Juho</h4>
				</a>
			<!--</div>-->
			<!--<div class="media-body">-->
					Visionary of the game and the lead programmer. The master of all code \o.
			</div>
		</div>
	</div>

	<div class="col-xs-18 col-lg-4">
		<div class="media">
			<div class="media-body">
			<!--<div class="media-left">-->

				<a href="http://www.sumugames.com">
				<img src="public/images/team/niina_kuva.JPG" height="100" width="100" class="img-responsive">
				<h4 class="text-left">Niina</h4>
				</a>
			<!--</div>-->
			<!--<div class="media-body">-->
					Lead writer of the team, also works on the marketing and social media side of the project. The brilliance behind the story.
			</div>
		</div>
	</div>
</div>
<br>
<br>
<br>
<div class="row">
	<div class="col-xs-18 col-lg-4">
		<div class="media">
		<div class="media-body">
			<!--<div class="media-left">-->
				<a href="http://www.sumugames.com">
				<img src="public/images/team/petri_kuva.JPG" height="100" width="100" class="img-responsive">
				<h4 class="text-left">Petri</h4>
				</a>
			<!--</div>-->
			<!--<div class="media-body">-->
					Lead graphic designer. You want art? You can't handle the art Petri makes. So epic sprites and animations. 
			</div>
		</div>
	</div>

	<div class="col-xs-18 col-lg-4">
		<div class="media">
			<div class="media-body">
				<!--<div class="media-left">-->
				<a href="http://www.sumugames.com">
				<img src="public/images/team/henna_kuva.JPG" height="100" width="100" class="img-responsive">
				<h4 class="text-left">Henna</h4>
				</a>
			<!--</div>-->
			<!--<div class="media-body">-->
					2D graphics designer. Artistic style.
			</div>
		</div>	
	</div>

	<div class="col-xs-18 col-lg-4">
		<div class="media">
			<div class="media-body">
			<!--<div class="media-left">-->
				<a href="http://www.sumugames.com">
				<img src="public/images/team/teemu_kuva.JPG" height="100" width="100" class="img-responsive">
				<h4 class="text-left">Teemu</h4>
				</a>
			<!--</div>-->
			<!--<div class="media-body">-->
					Producer.
			</div>
		</div>
	</div>
</div>