<!-- write new blog-post-->
<!--
<p> For testing purposes, post a new blog post.</p>
<form ng-submit="addBlogPost()">
	<input type="text" placeholder="Title" ng-model="formtitle"></input>
	<textarea ng-model="formtext" placeholder="Text"></textarea>
	<input type="text" placeholder="Author" ng-model="formauthor"></input>
	<button type="submit">Post</button>
</form>-->

<!-- show current post in main panel!-->
<div class="col-xs-8 animate-column">
<article>
  <div class="panel panel-default">
  <div class="panel-heading"> <h1> {{singlePost.title}} </h1> </div>
  <div class="panel-body">
  	   	
		<div ng-repeat="paragraph in singlePost.body">
			<p class="text-left">{{paragraph}}<br></p>
		</div>
		<p class="text-center">
		<br>
		{{singlePost.author}}
		<br>
		{{singlePost.date}}
		</p>
</article>
	</div>
	</div>

	<!--
	<div class="panel panel-default">
	<div class="panel-heading"><h2>Disqus come here</h2></div>
	<div class="panel-body"></div>
	</div>
	-->
</div>

<!-- Show all blog-posts in a side panel -->
<div class="col-xs-4 animate-column">
  <div class="panel panel-default">
  <div class="panel-heading"> <h3> Old posts: </h3> </div>
  	<div class="panel-body">
    	
        	<p class="text-center">
				<div ng-repeat="post in blogPosts">
					<a ui-sref="singlepost({postId: post._id})">{{post.title}}</a>
					<!--<button type="button" class="btn btn-link"><a ui-sref="singlepost({postId: post._id})" class="text-default">{{post.title}}</a></button>-->
				</div>
			</p>
		</div>
	</div>
</div>


