<!--<div class="row">
  <div class ="col-sm-24 col-md-12">
    <div class="directorySlider"></div>
  </div>
</div>-->


<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
<div ng-repeat="image in singleGamePost.images">
<div id="links">
    <a ng-href="public/images/{{singleGamePost._id}}/{{image}}" title="{{image}}" data-gallery>
      <div class="col-lg-2 col-sm-2 col-xs-3"><img ng-src="public/images/{{singleGamePost._id}}/thumbnails/{{image}}" alt="{{image}}" class="thumbnail img-responsive"></div>
    </a>
</div>
</div>
</div>


  


<!--
  </div> 
    <ul class="list-group">
      <li ng-repeat="image in singleGamePost.images">
        <img ng-src="public/images/{{singleGamePost._id}}/{{image}}"> 
      </li>
      </ul>

    </div>  

  </div>-->
  <!--class="img-responsive"-->

<div class="row">
  <div class="col-sm-24 col-md-12">
  <div class="panel panel-default">
    <div class="panel-body">
      
        <p class="text-center"><h2>{{singleGamePost.title}}</h2> <h5>{{singleGamePost.version}} {{singleGamePost.status}}</h5> <br>
        <br>
        <div ng-repeat="paragraph in singleGamePost.body">
          <p class="text-left">{{paragraph}}<br></p>
        </div>
        </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-sm-24 col-md-12">
        <p class="text-center">
          <h2> Features </h2>
          <ul ng-repeat="feature in singleGamePost.features">
            <li> {{feature}}</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <table class="table table-bordered">
    <tbody>
    <tr>
      <th> Platform </th>
      <th> Size </th>
      <th> Link </th>
      <th> Mirror </th>
      <th> Stability </th>
      <th> Version </th>
    </tr>
    <tr ng-repeat="platform in singleGamePost.platforms">
        <th>{{platform.platform}}</th>
        <th>{{platform.size}}</th>
        <th> <a href="{{platform.link}}">download</a> </th>
        <th> {{platform.stability}} </th>
        <th> {{platform.version}}</th>    
      </tr>
    </div>
  </tbody>
</table>
</div>
<!--
    <tr>
      <th>HTML5</th>
      <th>96.9 MB</th>
      <th> <a href="http://sumugames.com/samureye/">HTML5 WebGL player</a> </th>
      <th> <a href="http://homes.jamk.fi/~I2019/html5/v011/">Play in your browser!</a> </th>
      <th> Tested </th>
      <th> v0.11</th>
    </tr>
    <tr>
      <th> PC</th>
      <th>17.9 MB</th>
      <th> <a href="http://sumugames.com/samureye/builds/samureyeV011_PC.zip">Windows version zip</a> </th>
      <th> <a href="https://drive.google.com/file/d/0B2vQhz9rrtU0UkswUUlXdmRUZHM">Windows version zip</a> </th>
      <th> Tested </th>
      <th> v0.11</th>
    </tr>
    <tr>
      <th> Android</th>
      <th>20.3 MB</th>
      <th> <a href="http://sumugames.com/samureye/builds/samureyeV011_ANDROID.apk">Android version package</a> </th>
      <th> <a href="https://drive.google.com/file/d/0B2vQhz9rrtU0Y2N3YlluVDM2R0k">Android version zip</a> </th>
      <th> Tested </th>
      <th> v0.11</th>
    </tr>
    <tr>
      <th> Mac</th>
      <th>20.2 MB</th>
      <th> <a href="http://sumugames.com/samureye/builds/samureyeV011_MAC.zip">Mac version zip</a> </th>
      <th> <a href="https://drive.google.com/file/d/0B2vQhz9rrtU0WjVSUG5XZzZ4cHc">Mac version zip</a> </th>
      <th> Untested </th>
      <th> v0.11</th>
    </tr>
    

  </tbody></table>
  </div>

-->
<!--
<script type="text/javascript">
  $(document).ready(function(){
    $('.carousel').carousel();
  });
</script>

<script>
$('carousel-control.left').click(function() {
  $('#myCarousel').carousel('prev');
});
$('carousel-control.right').click(function() {
  $('#myCarousel').carousel('next');
});
</script>

<script>
  function addPictures(){
    var i = 0;
    //For every Image, add the right picture
    for each (image in singleGamePost.images){
      if (i = 0){
        <div class="item active">
          <img src="/public/images/{{singleGamePost._id}}/image">
        </div>
      }
      else{       
        <div class="item">
          <img src="/public/images/{{singleGamePost._id}}/image">
        </div>  
      }
      i++;
    }
  }
</script>
-->
<!--
<script language="javascript">
    $(document).ready(function(){
    $('.directorySlider').directorySlider({
      animation: 'fade',
      filebase: 'slide_',
      directory: '/public/images/{{singleGamePost._id}}/',
      extension: 'png',
      numslides: 6,
      height: 500
      });
    });
</script>

<script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>

<script>
blueimp.Gallery(
    document.getElementById('links').getElementsByTagName('a'),
    {
        container: '#blueimp-gallery-carousel',
        carousel: true
    }
);
</script>
-->