<!--<div class="row">
  <div class ="col-sm-24 col-md-12">
    <div class="directorySlider"></div>
  </div>
</div>-->
<div class="row">
<div class="col-sm-24 col-md-12">
<h2 class="text-center">Gallery</h2>
<div ng-repeat="image in singleGamePost.images">
<div id="links-games">
    <a ng-href="public/images/{{singleGamePost._id}}/{{image}}" title="{{image}}" data-gallery>
      <div class="col-lg-2 col-sm-2 col-xs-3"><img ng-src="public/images/{{singleGamePost._id}}/thumbnails/{{image}}" alt="{{image}}" class="thumbnail img-responsive"></div>
    </a>
</div>
</div>


<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <!--<h3 class="title"></h3>-->
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!--
  </div> 
    <ul class="list-group">
      <li ng-repeat="image in singleGamePost.images">
        <img ng-src="public/images/{{singleGamePost._id}}/{{image}}"> 
      </li>
      </ul>

    </div>  

  </div>-->
  <!--class="img-responsive"-->

<div class="row">
  <div class="col-sm-24 col-md-12">
  <div class="panel panel-default">
    <div class="panel-body">
      
        <h2 class="text-center">{{singleGamePost.title}}</h2> <h5 class="text-center">{{singleGamePost.version}} {{singleGamePost.status}}</h5> <br>
        <br>
        <div ng-repeat="paragraph in singleGamePost.body" ng-bind-html="paragraph">
          <p class="text-left">{{paragraph}}<br></p>
        </div>
        <div class="panel-body">
        <div class="col-sm-24 col-md-12">
        <p class="text-center">
          <h3> Features </h3>
          <ul ng-repeat="feature in singleGamePost.features" ng-bind-html="feature">
            <li> {{feature}}</li>
          </ul>
        </p>
      </div>
    </div>
        
    </div>
  </div>
</div>

<div class="row">
    <table class="table table-condensed">
    <tbody>
    <tr>
      <th> Platform </th>
      <th> Size </th>
      <th> Link </th>
      <th> Stability </th>
      <th> Version </th>
    </tr>
    <tr ng-repeat="platform in singleGamePost.platforms">
        <th>{{platform.platform}}</th>
        <th>{{platform.size}}</th>
        <th> <a ng-href="{{platform.link}}">download</a> </th>
        <th> {{platform.stability}} </th>
        <th> {{platform.version}}</th>    
      </tr>
    </div>
  </tbody>
</table>
</div>

<div class="row">
<div class="col-xs-18 col-lg-9">
  <h2 class="text-center">Videos</h2>
  <p class="text-center"><iframe id="ytplayer" type="text/html" width="420" height="315" ng-src="{{videoSource}}" frameborder="0" allowfullscreen></iframe></p>
  
  <div class="btn-group-wrap">
    <div class="btn-group align-center" role="group" aria-label="...">
        <button type="button" class="btn btn-default" ng-click="prevVideo()">Prev</button>
        <button type="button" class="btn btn-default" ng-click="nextVideo()">Next</button>
    </div>
  </div>
  

</div>

<!--<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>-->
<script src="public/javascripts/jquery.blueimp-gallery.min.js"></script>
<script src="public/javascripts/blueimp-gallery.min.js"> </script>
<!--<script src="public/javascripts/blueimp-gallery-youtube.js"> </script>-->
<script src="public/javascripts/bootstrap-image-gallery.min.js"></script>
<!--
<script>
$(document).ready(function() {
  blueimp.Gallery(
      document.getElementById('links-games').getElementsByTagName('a'),
      {
        container: '#blueimp-gallery',
        carousel: true,
        }
    );
});
</script>-->