<!-- write new blog-post-->
<!--
<p> For testing purposes, post a new game post.</p>
<form ng-submit="addGamePost()">
  <input type="text" placeholder="Title" ng-model="formtitle"></input>
  <textarea ng-model="formtext" placeholder="Text"></textarea>
  <input type="text" placeholder="Features" ng-model="formfeatures"></input>
  <input type="text" placeholder="DownloadLink" ng-model="formdownload"></input>
  <input type="text" placeholder="Version" ng-model="formversion"></input>
  <input type="text" placeholder="Status" ng-model="formstatus"></input>
  <input type="text" placeholder="Images" ng-model="formimages"></input>
  <button type="submit">Post</button>
</form>
-->
<div class="row">
    <div class="col-lg-3 col-sm-5 col-xs-9 animate-column" ng-repeat="game in gamePosts">
      <a ui-sref="game({gameName: game._id})">
        <img ng-src="public/images/{{game._id}}/thumb.png" class="thumbnail img-responsive">
      </a>
      <div class="caption">
        <h3 class="text-center">{{game.title}}</h3>
      </div>
    </div>
    <!-- Show all blog-posts in a side panel -->
<!--
<div class="col-xs-3">
  <div class="panel panel-default">
  <div class="panel-heading"> <h3> All games: </h3> </div>
    <div class="panel-body">
      
          <p class="text-center">

        <div ng-repeat="game in gamePosts">
          <a ui-sref="game({gameName: game._id})">{{game.title}}</a>
        </div>
      </p>
    </div>
  </div>
</div>
-->
</div>

<!-- show newest game in main panel!
<div class="col-xs-12 col-sm-9">
  <div class="panel panel-default">
  <div class="panel-heading"> <h1> {{singleGamePost.title}} </h1> </div>
    <div class="panel-body">
        
      <div ng-repeat="paragraph in singleGamePost.body">
      <p class="text-left">{{paragraph}}<br></p>
      </div>
      <p class="text-center">
      <br>
      {{singleGamePost.features}}
      <br>
      {{singleGamePost.version}}
      <br>
      {{singleGamePost.status}}
      </p>
    </div>
  </div>
  <div class="panel panel-default">
  <div class="panel-heading"><h2>Disqus</h2></div>
  <div class="panel-body"></div>

  Let the user be nice and post a comment
  
  </div>
  </div>-->

    

