  <!--<div class="row">
    <div class="jumbotron">
      <h1>Sumu Games</h1>
      <h3> Transparent game development<h3>
    </div>
  </div>-->

<div class="row">
    <div class="col-xs-11 col-sm-4 animate-column gamesImage">
      <a ui-sref="games">
        <img ng-src="public/images/transparentJoystick.png" class="img-responsive" alt="Games" width"400" height="400">
      </a>
      <div class="caption">
        <h3 class="text-center"><a ui-sref="games" class="frontpagetext">Games</a></h3>
      </div>
    </div><!--
    --><div class="col-xs-11 col-sm-4 animate-column blogsImage">
      <a ui-sref="blogposts">
        <img ng-src="public/images/blogs.png" class="img-responsive" alt="Blog" width"400" height="400">

      </a>
      <div class="caption">
        <h3 class="text-center"><a ui-sref="blogposts" class="frontpagetext">Blog</a></h3>
      </div>
      
    </div><!--
    --><div class="col-xs-11 col-sm-4 animate-column aboutImage">
      <a ui-sref="about">
        
      <img ng-src="public/images/SUMU.png" class="img-responsive" alt="About us" width"400" height="400">
      </a>
      <div class="caption">
        <h3 class="text-center"><a ui-sref="about" class="frontpagetext">About Us</a></h3>
      </div>
    </div>
</div>

<!--
      <div class="col-lg-3 col-sm-5 col-xs-9">
        <a ui-sref="games" class="thumbnail">
        <div class="caption">
          <h3>Games</h3>
          <p class="text-center">Take a look at our current projects!</p>

        

        </div>
        </a>
      </div>

    <div class="col-lg-3 col-sm-5 col-xs-9">
        <a ui-sref="blogposts" class="thumbnail">
          <div class="caption">
            <h3>Blog </h3>
            <p class="text-center"> Read about our journey to game development!</p>
          </div>
        </a>
    </div>

      <div class="col-lg-3 col-sm-5 col-xs-9">
        <a ui-sref="about" class="thumbnail">
          <div class="caption">
            <h3>About us</h3>
            <p class="text-center"> Read about Sumu Games and who we are. <br></p>
          </div>
        </a>
      </div>
  </ul>
  -->

