<!-- write new blog-post-->
<!--
<p> For testing purposes, post a new blog post.</p>
<form ng-submit="addBlogPost()">
	<input type="text" placeholder="Title" ng-model="formtitle"></input>
	<textarea ng-model="formtext" placeholder="Text"></textarea>
	<input type="text" placeholder="Author" ng-model="formauthor"></input>
	<button type="submit">Post</button>
</form>-->

<!-- show current post in main panel!-->
<div class="col-xs-12 col-sm-9">
  <div class="panel panel-default">
  <div class="panel-heading"> <h1> {{singlePost.title}} </h1> </div>
  	<div class="panel-body">
  	   	
			<div ng-repeat="paragraph in singlePost.body">
			<p class="text-left">{{paragraph}}<br></p>
			</div>
			<p class="text-center">
			<br>
			{{singlePost.author}}
			<br>
			{{singlePost.date}}
			</p>
		</div>
	</div>
	<div class="panel panel-default">
	<div class="panel-heading"><h2>Leave a comment!</h2></div>
	<div class="panel-body">

	<!--Let the user be nice and post a comment-->
		<form ng-submit="addComment()">
			<input type="text" placeholder="Text" ng-model="formtext"></input>
			<input type="text" placeholder="Author" ng-model="formauthor"></input>
			<button type="submit">Comment</button>
		</form>
	</div>
	</div>

	<div class="panel panel-default">
	<div class="panel-heading"><h2>Previous Comments</h2></div>
	<div class="panel-body">

	<!-- Show all comments about this post -->
		<div ng-repeat="comment in singlePost.comments | orderBy: '-upvotes'">
		<div class="media">
			<div class="media-body"><!--<span ng-click="incrementUpvotes(comment)">^</span>-->
			<h5 class="media-heading">{{comment.author}}</h5>
			<!--<td>Upvotes: {{comment.upvotes}}</td>-->
			{{comment.body}}
			</div>
		</div>
		
		</div>
	</div>
	</div>
</div>

<!-- Show all blog-posts in a side panel -->
<div class="col-xs-3">
  <div class="panel panel-default">
  <div class="panel-heading"> <h3> Old posts: </h3> </div>
  	<div class="panel-body">
    	
        	<p class="text-center">

				<div ng-repeat="post in blogPosts">
					<a ui-sref="singlepost({postId: post._id})">{{post.title}}</a>
					<!--<button type="button" class="btn btn-link"><a ui-sref="singlepost({postId: post._id})" class="text-default">{{post.title}}</a></button>-->
				</div>
			</p>
		</div>
	</div>
</div>


