.navbar-brand
{
	position: relative;
	/*width: 100%;*/
	left: 0;
	text-align: center;
	/*margin: auto;*/
	/*padding-right: 20px;*/
}

/*
Row with equal height columns
*/
/*
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}*/

.thumbnail {
	background: #220033;
	width: auto;
	height: auto;	
}
.panel-body {
	background: #220033;
	font-family: 'Lora', 'Times New Roman', serif;
  	font-size: 20px;
  	color: #E8CDF5;
}

.panel-default > .panel-heading {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #220033; 
	color: #FFF;
}

.section{
	color: #F2EFFB;
}

/*
Full background colored
*/
/*
html,
body {
	height: 100%;
	background-color: #A1B3B9;
	color: #fff;
}
*/

/*Background-images*/
#bodybackground {
	position: absolute;
	background: black;
	width:100%;	
	height:100%;
}

#opacitybackground{
	
    position: absolute;

    content : "";
    display: block;
	/*background: url("../images/justNebula1610.png") no-repeat black;*/
	background: url("../images/hs-2006-14-a-hires_jpg.jpg") no-repeat black;
	opacity : 1.0;
	z-index: -1;
	width: 100%;
    height: 100%;

    
    

}



.footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:70px;
    width:100%;
    background:#5555bb;
    color: #FFF;
}
/*
.footer {
	background-color: #D9E4EF;
	width: 100%;
    padding-top: 20px;
    position: relative;
}
*/

.navbar-default {
	background-color: #5555bb;
	border-color: #5555bb; 
}

.navbar-default .navbar-brand {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #F57373;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFA3A3;
}

.navbar-default .navbar-nav > li > a {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #F57373;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #FFA3A3;
}



.carousel {
	height: 500px;
	margin-bottom: 60px;
	background-color:#c9cbf8;
}
.carousel-caption{
	position: absolute;
	z-index: 10;
	left: 50%;
	right: 15%;
	bottom: 0%;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #000;
	text-align: center;


}

.carousel .item {
	height: 500px;
	background-color:#c9cbf8;
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img
{
	
      position: absolute;
      top: 0;
      left: 0;
      min-width: 50%;
      height: 500px;   
}

.jumbotron {
	color: #FFF;
	background-color: #728FA1;
	background-image: url("../images/Samurai_promo.png");
	background-size: cover;
}

input, text{
	color: #728FA1;
}

button {
	color: #728FA1;
}

a {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #F57373;
}

/*Animations get defined like this*/
.animate-column.ng-enter,
.animate-column.ng-leave,
.animate-column.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.animate-column.ng-enter,
.animate-column.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.animate-column.ng-move.ng-move-active,
.animate-column.ng-enter.ng-enter-active {
  opacity: 1;
  height: 120px;
}

.animate-column.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.animate-column.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/*Circular image*/
.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://link-to-your/image.jpg) no-repeat;
	}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
	}